<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('import/head') %>
  </head>
  <body>
    <%- include('import/header') %>
    
    <main>
      <h1>404  not found </h1>
      <p>
        Oopsie daisy there is no such restaurant
      </p>
      
    </main>
  </body>
</html>
