<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('import/head') %>
    <link rel="stylesheet" href="styles/restaurants.css" />
    
  </head>
  <body>
    <%- include('import/header') %>

    <main> 
      <% if (placeholder ===0){%>
      <h1>No restaurants</h1>

      <%} else { %>
      <h1>Recommended restaurants</h1>
      <p>Find your next favorite restaurants with help of our other users!</p>
      <p>We found <%= placeholder %> restaurants</p>
      <ul id="restaurants-list">
        <% for (const restaurant of restaurants){ %>
        <%- include('import/restaurant',{restaurant:restaurant}) %>
        <% }%>
      </ul>
      <%}%>
    </main>
  </body>
</html>
